<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user %></h1>
<p>
  Lunch secretary smgwilson37@gmail.com has invited you to vote in a lunch election. The link below will take you to your ballot.<br>
</p>
<p>
  <%= @url %>.
</p>
<p>Enjoy your lunch and have a great day!</p>
</body>
</html>